body{
    margin: 0;
    padding: 0;
    background-color: grey;
}

h1{
    background-color: #7e7ee2;
    color: grey;
    text-align: center;
    border: solid;
    border-width: 1px;
    text-shadow: 2px 2px black;
}
